.login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .alert {
    padding: 1rem 1.5rem;
    margin: 2rem 2rem 0rem 2rem;
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
    border-radius: 0.25rem;
  }

  .form {
    margin: 2rem;
    max-width: 300px;

    .form-group {
      label {
        display: inline-block;
        margin-bottom: 0.5rem;
      }

      input {
        display: block;
        padding: 0.35rem 0.75rem;
        line-height: 1.5;
        color: #212529;
        background-color: white;
        border: 1px solid lightgray;
        appearance: none;
        border-radius: 0.25rem;
      }

      button {
        display: block;
        width: 100%;
        color: white;
        background-color: rgb(63, 91, 120);
        border: 1px solid rgba(63, 91, 120, 0.8);
        border-radius: 0.25rem;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
