* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@import "./nav";
@import "./home";
@import "./login";
@import "./register";
@import "./newpost";
@import "./profile";
@import "./editpost";
